name: test
on: [push]
jobs:

  build:
    name: Test and Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.15
      uses: actions/setup-go@v2
      with:
        go-version: 1.15.6
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: cache
      uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Get dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: go mod download

    - name: Test
      run: make test

    - name: Build
      run: make build
